.homeInfoText {
  margin-bottom: 1.5em;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.gameLink {
  text-decoration: none;
  color: aliceblue;
}

.gameCard {
  width: 240px;
  height: 125px;
  padding: 1em;
  border: 1px solid aliceblue;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: transform 0.2s ease;
  background-color: rgba(0, 0, 0, 0.525);
}

.cardText {
  font-size: 1.3em;
}

.gameCard:hover {
  transform: scale(1.03);
}
