.gameAgent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gameTitle {
  text-align: center;
}

.table-container {
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid white;
}

th,
td,
tr {
  padding: 8px;
  text-align: center;
  border: 1px solid white;
}

.imgTable {
  width: 80px;
  display: flex;
  align-items: center;
}

.good {
  background-color: green;
}

.bad {
  background-color: crimson;
}

.inputs {
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.restartButton {
  width: 2.5em;
  height: 2.5em;
  border-radius: 5px;
  margin-left: 1em;
  margin-top: 7px;
  background-color: #2d3d59;
  border: 1px solid aliceblue;

  display: flex;
  justify-content: center;
  align-items: center;
}
.iconRestart {
  transform: scale(1.6);
  transition: transform 0.5s ease;
  color: aliceblue;
}
.restartButton:hover {
  .iconRestart {
    transform: rotate(180deg) scale(1.6);
  }
}
